In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from helpers.get_data_consumation import get_excel_file_data
import sys
import os

sys.path.insert(0, os.path.abspath(".."))

data_excel = get_excel_file_data("BU_all_buildings_IDF.xlsx")

In [4]:
df = data_excel.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         396 non-null    object
 1   bou                        396 non-null    int64
 2   caf                        396 non-null    int64
 3   chauf                      396 non-null    int64
 4   ecr                        396 non-null    int64
 5   mfd                        396 non-null    int64
 6   pcf2e                      396 non-null    int64
 7   port1e                     396 non-null    int64
 8   nb_equip                   396 non-null    int64
 9   nb_equip_bureau            396 non-null    int64
 10  nb_equip_autre             396 non-null    int64
 11  height                     396 non-null    float64
 12  floor_count                396 non-null    int64
 13  ExteriorWall_U_value       396 non-null    float64
 14  ExteriorRoof_U_value       396 non-null    float64
 15  ExteriorFloor_U_value      396 non-null    float64
 16  ExteriorWall_window_share  396 non-null    float64
 17  ExteriorWall_window_type   396 non-null    object
 18  comfort_heating_set_point  396 non-null    float64
 19  comfort_cooling_set_point  396 non-null    float64
 20  geometry                   396 non-null    object
 21  area                       396 non-null    float64
 22  length                     396 non-null    float64
 23  surface_utile              396 non-null    float64
 24  hsp_moyenne                396 non-null    float64
 25  annuel_ve_ch_par_m2        396 non-null    float64
 26  annuel_ve_cl_par_m2        396 non-null    float64
 27  Pmax_ve_ch_par_m2          396 non-null    float64
 28  Pmax_ve_cl_par_m2          396 non-null    float64
 29  annuel_ch_par_m2           396 non-null    float64
 30  Pmax_ch_par_m2             396 non-null    float64
 31  annuel_cl_par_m2           396 non-null    float64
 32  Pmax_cl_par_m2             396 non-null    float64
 33  annuel_el_par_m2           396 non-null    float64
 34  Pmax_el_par_m2             396 non-null    float64
 35  annee_construction         396 non-null    float64
 36  effectif                   396 non-null    float64
 37  nb_equip_par_m2            396 non-null    float64
 38  nb_equip_bureau_par_m2     396 non-null    float64
 39  nb_equip_autre_par_m2      396 non-null    float64
 40  bd_surface_par_occ         396 non-null    float64
 41  hbs_surface_par_occ        396 non-null    float64
dtypes: float64(28), int64(11), object(3)
memory usage: 130.1+ KB

In [5]:
df.head()

,ID,bou,caf,chauf,ecr,mfd,pcf2e,port1e,nb_equip,nb_equip_bureau,...,Pmax_cl_par_m2,annuel_el_par_m2,Pmax_el_par_m2,annee_construction,effectif,nb_equip_par_m2,nb_equip_bureau_par_m2,nb_equip_autre_par_m2,bd_surface_par_occ,hbs_surface_par_occ
0,BATIMENT0000000000449256,20,18,0,15,8,11,67,139,101,...,48.964595,16.444503,5.469096,1986.0,74.0,0.077554,0.056352,0.021202,24.220405,22.445946
1,BATIMENT0000000000449819,120,134,0,404,82,275,251,1266,1012,...,53.930219,15.809512,4.906805,1993.0,502.0,0.102556,0.081980,0.020576,24.590508,32.227092
2,BATIMENT0000000240289285,147,164,0,494,101,337,307,1550,1239,...,61.992223,62.169510,24.472787,1990.0,582.0,1.018106,0.813828,0.204278,2.615868,3.324742
3,BATIMENT0000000240289639,11,13,0,38,8,26,24,120,96,...,44.438954,16.732151,5.850676,2014.0,43.0,0.093402,0.074722,0.018680,29.878291,26.441860
4,BATIMENT0000000240290871,20,18,0,16,8,11,68,141,103,...,54.231608,17.286522,5.909568,1995.0,75.0,0.084678,0.061857,0.022821,22.201717,23.840000

In [6]:
df.describe()

,bou,caf,chauf,ecr,mfd,pcf2e,port1e,nb_equip,nb_equip_bureau,nb_equip_autre,...,Pmax_cl_par_m2,annuel_el_par_m2,Pmax_el_par_m2,annee_construction,effectif,nb_equip_par_m2,nb_equip_bureau_par_m2,nb_equip_autre_par_m2,bd_surface_par_occ,hbs_surface_par_occ
count,396.000000,396.000000,396.0,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,...,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000
mean,80.734848,81.994949,0.0,150.888889,41.535354,103.638889,217.747475,676.540404,513.810606,162.729798,...,51.427282,20.217850,7.564638,1990.517677,299.351010,0.162778,0.125829,0.036949,39.655833,38.084966
std,152.068449,149.257640,0.0,238.026895,69.672916,163.324445,464.201153,1157.882815,862.879065,300.834957,...,9.595772,17.275369,6.775197,25.750157,548.429344,0.299640,0.229826,0.070764,49.007689,44.669233
min,6.000000,6.000000,0.0,7.000000,4.000000,5.000000,12.000000,60.000000,46.000000,12.000000,...,19.674044,10.820489,3.258104,1828.000000,21.000000,0.004637,0.003445,0.001106,0.613978,0.536142
25%,11.000000,11.000000,0.0,30.000000,6.000000,21.000000,29.500000,96.000000,77.000000,21.750000,...,45.694673,13.914004,4.870908,1986.000000,49.750000,0.049015,0.038279,0.010555,15.115692,14.478221
50%,26.500000,26.000000,0.0,66.000000,15.000000,45.000000,67.500000,235.500000,184.500000,52.000000,...,51.369623,15.912472,6.323297,1997.000000,106.000000,0.085112,0.066973,0.019094,26.601362,25.732375
75%,74.000000,73.250000,0.0,146.750000,40.000000,100.500000,212.500000,633.000000,499.000000,147.000000,...,56.060131,19.696159,7.616647,2006.000000,302.000000,0.157913,0.122305,0.035728,48.551446,46.339811
max,1583.000000,1466.000000,0.0,1822.000000,668.000000,1245.000000,5203.000000,11438.000000,8389.000000,3049.000000,...,100.037116,216.061064,84.547891,2016.000000,5904.000000,3.074227,2.232966,0.841261,474.476375,475.738095

In [7]:
nan_count = df.isna().sum().sum()
print("Nombre total de NaN dans le DataFrame : {}".format(nan_count))

null_count = df.isnull().sum().sum()
print("Nombre total de null dans le DataFrame : {}".format(null_count))

Nombre total de NaN dans le DataFrame : 0
Nombre total de null dans le DataFrame : 0

In [8]:
df.columns.to_list()

['ID',
 'bou',
 'caf',
 'chauf',
 'ecr',
 'mfd',
 'pcf2e',
 'port1e',
 'nb_equip',
 'nb_equip_bureau',
 'nb_equip_autre',
 'height',
 'floor_count',
 'ExteriorWall_U_value',
 'ExteriorRoof_U_value',
 'ExteriorFloor_U_value',
 'ExteriorWall_window_share',
 'ExteriorWall_window_type',
 'comfort_heating_set_point',
 'comfort_cooling_set_point',
 'geometry',
 'area',
 'length',
 'surface_utile',
 'hsp_moyenne',
 'annuel_ve_ch_par_m2',
 'annuel_ve_cl_par_m2',
 'Pmax_ve_ch_par_m2',
 'Pmax_ve_cl_par_m2',
 'annuel_ch_par_m2',
 'Pmax_ch_par_m2',
 'annuel_cl_par_m2',
 'Pmax_cl_par_m2',
 'annuel_el_par_m2',
 'Pmax_el_par_m2',
 'annee_construction',
 'effectif',
 'nb_equip_par_m2',
 'nb_equip_bureau_par_m2',
 'nb_equip_autre_par_m2',
 'bd_surface_par_occ',
 'hbs_surface_par_occ']

In [9]:
df.columns.to_list()

['ID',
 'bou',
 'caf',
 'chauf',
 'ecr',
 'mfd',
 'pcf2e',
 'port1e',
 'nb_equip',
 'nb_equip_bureau',
 'nb_equip_autre',
 'height',
 'floor_count',
 'ExteriorWall_U_value',
 'ExteriorRoof_U_value',
 'ExteriorFloor_U_value',
 'ExteriorWall_window_share',
 'ExteriorWall_window_type',
 'comfort_heating_set_point',
 'comfort_cooling_set_point',
 'geometry',
 'area',
 'length',
 'surface_utile',
 'hsp_moyenne',
 'annuel_ve_ch_par_m2',
 'annuel_ve_cl_par_m2',
 'Pmax_ve_ch_par_m2',
 'Pmax_ve_cl_par_m2',
 'annuel_ch_par_m2',
 'Pmax_ch_par_m2',
 'annuel_cl_par_m2',
 'Pmax_cl_par_m2',
 'annuel_el_par_m2',
 'Pmax_el_par_m2',
 'annee_construction',
 'effectif',
 'nb_equip_par_m2',
 'nb_equip_bureau_par_m2',
 'nb_equip_autre_par_m2',
 'bd_surface_par_occ',
 'hbs_surface_par_occ']

In [10]:
for col in df.columns:
    print(col)

ID
bou
caf
chauf
ecr
mfd
pcf2e
port1e
nb_equip
nb_equip_bureau
nb_equip_autre
height
floor_count
ExteriorWall_U_value
ExteriorRoof_U_value
ExteriorFloor_U_value
ExteriorWall_window_share
ExteriorWall_window_type
comfort_heating_set_point
comfort_cooling_set_point
geometry
area
length
surface_utile
hsp_moyenne
annuel_ve_ch_par_m2
annuel_ve_cl_par_m2
Pmax_ve_ch_par_m2
Pmax_ve_cl_par_m2
annuel_ch_par_m2
Pmax_ch_par_m2
annuel_cl_par_m2
Pmax_cl_par_m2
annuel_el_par_m2
Pmax_el_par_m2
annee_construction
effectif
nb_equip_par_m2
nb_equip_bureau_par_m2
nb_equip_autre_par_m2
bd_surface_par_occ
hbs_surface_par_occ